<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symphony_ecrm"
    android:installLocation="internalOnly"
    android:versionCode="13"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.symphony_ecrm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.symphony_ecrm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />


    <application
        android:name=".E_CRM"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.symphony_ecrm.SymphonyHome"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="com.symphony_ecrm.database.DBProvider"
            android:authorities="com.symphony_ecrm.database.DBProvider"
            android:exported="false"></provider>

        <activity
            android:name="com.symphony_ecrm.distributer.DistributerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <action android:name="android.intent.action.SEARCH" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.symphony_ecrm.report.VisitDetailActivity"
            android:label="Visit Detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <service android:name="com.symphony_ecrm.sms.SMSService"></service>


        <service android:name="com.symphony_ecrm.sms.SyncManager">

            <action android:name="com.symphony_ecrm.sms.WIPE_REPORT_DATA" />
            <action android:name="com.symphony_ecrm.sms.DB_CHECK_FOR_DIST_PHOTO" />


        </service>
        <service android:name="com.symphony_ecrm.receiver.MyService"></service>


        <receiver android:name="com.symphony_ecrm.sms.SyncAlaram"></receiver>
        <receiver android:name="com.symphony_ecrm.receiver.LocationReceiver"></receiver>
        <receiver
            android:name="com.symphony_ecrm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.symphony_ecrm" />
            </intent-filter>
        </receiver>
        <!-- </receiver> -->
        <receiver android:name=".receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.symphony_ecrm.SymphonyGCMService"
            android:enabled="true"></service>

        <!--<service android:name=".VisitSyncReceiver"></service>-->
        <service android:name=".service.VisitsyncService"></service>

        <activity
            android:name="com.symphony_ecrm.report.SymphonyReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <receiver
            android:name="com.symphony_ecrm.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.symphony_ecrm.restartalram" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>